<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ms.pldroidplayerlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.ms.pldroidplayerlibrary.widget.PLMediaPlayerActivity" />
    </application>

</manifest>
